// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Theme
@import "theme";




.profile-image
{
  @extend .img-responsive;
  border-radius: 100%;
  margin-bottom:20px;
}

.user-row
{
  height:75px;
  margin-bottom: 7px;
  margin-top: 7px;
  /*border:1px solid black;*/

  @extend .col-xs-12 , .col-sm-6 ,.pull-left;
  padding:0;
  .image
  {
    @extend .pull-left;
    margin-right:10px;
    height:100%;
    img{
      height:100%;
      border-radius: 100%;
    }
  }
}